name: 'Lint PR'

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    environment: 
      name: prod
      url: https://github.com

    permissions:
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - id: zip
        run: |
          zip -r test.zip apps/nginx/

      - id: echo
        run: echo ${{ secrets.SEC }}
